
.category {
  .content {
    position: fixed;
    left: 0;
    right: 0;
    top: 11.5vw;
    bottom: 13.5vw;
    display: flex;
    .left {
      flex: 0 0 5rem;
      background: #F1F8FF;
      ul {
        position: relative;
        li {
          color: #666;
          height: 3rem;
          line-height: 3rem;
          text-align: center;
          box-sizing: border-box;
          font-size: 14px;
          &.active { background: #fff; }
        }
        .sidebar-tag {
          position: absolute;
          top: 0;
          left: 0;
          width: .2rem;
          height: 3rem;
          background: red;
          transition: top .3s ease-out;
        }
      }
    }
    .right {
      flex: 1;
    }
  }
}