$color: #b532e9;

.category {
  .content {
    position: fixed;
    left: 0;
    right: 0;
    top: 11.5vw;
    bottom: 13.5vw;
    display: flex;
    .left {
      flex: 0 0 5rem;
      background: #F1F8FF;
      ul {
        position: relative;
        li {
          color: #666;
          height: 3rem;
          line-height: 3rem;
          text-align: center;
          box-sizing: border-box;
          font-size: 14px;
          &.active { background: #fff; }
        }
        .sidebar-tag {
          position: absolute;
          top: 0;
          left: 0;
          width: .2rem;
          height: 3rem;
          background: $color;
          transition: top .3s ease-out;
        }
      }
    }
    .right {
      flex: 1;
      width: 0; // width为 0 可以保证元素宽度平分父元素宽度
      display: flex;
      flex-direction: column;
      .scroll-wrapper {
        position: relative;
        flex: 1;
        overflow: hidden;
        .content-scroll {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
        .no-data {
          margin-top: 30px;
          color: #bbb;
          text-align: center;
        }
      }
    }
  }
}