.city-container {
  display: flex;
  flex-direction: column;
  .city-search {
    display: flex;
    align-items: center;
    height: 2.3rem;
    margin: 2vw 4vw;
    padding: 0 1.5vw;
    background: #F7F8FA;
    border-radius: 8px;
    .search-icon { flex-basis: 3%; }
    input {
      flex: 1;
      margin: 0 1.5vw;
      font-size: 14px;
      background: #F7F8FA;
    }
  }
  .city-box {
    flex: 1;
    .content-scroll {
      .location-city {
        .title {
          height: 8vw;
          line-height: 8vw;
          padding-left: 2.5vw;
          background: #F2F2F2;
        }
        .city-list {
          padding: 5px 30px 5px 5px;
          display: flex;
          flex: wrap;
          box-sizing: border-box;
        }
      }
    }
  }
}