$color:#b532e9;
$borderColor: #F6F7F8;

// 立即购买弹跳
@keyframes bounceAnim {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.bounce-drawer-enter-active { animation: bounceAnim .3s }
.bounce-drawer-leave-active { animation: bounceAnim .3s reverse }

// 蒙层动画
.fade-enter, .fade-leave-to { opacity: 0 }
.fade-enter-active, .fade-leave-active { transition: opacity .5s; }

.goods {
  .content-scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 13.5vw;
    overflow: hidden; 
    .goods-swipe {
      img { width: 100%; height: 100vw; }
    }
    .goods-info {
      padding: 2.5vw 4vw;
      font-size: 16px;
      .goods-name { margin-bottom: 2vw; }
      .goods-price { color: $color; }
    }
    .goods-express {
      padding: 2.5vw 4vw;
      border: 1px solid $borderColor;
      border-right: none;
      border-left: none;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .goods-collection {
        display: flex;
        align-items: center;
        .goods-like { color: $color; }
      }
    }
    .goods-store {
      margin: 4vw 0;
      padding: 2.5vw 4vw;
      border: 1px solid $borderColor;
      border-right: none;
      border-left: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .store-left {
        display: flex;
        align-items: center;
        .store-name { margin: 0 1.5vw; }
      }
      .store-right {
        display: flex;
        align-items: center;
        color: #999;
      }
    }
    .goods-tabs {
      .comment-wrapper { 
        min-height: 300px;
        .no-comment {
          text-align: center;
          color: #333;
          margin-top: 50px;
        }
      }
    }
  }
  .drawer-buy {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    height: 40vh;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    section { flex: 1 }
    .drawer-goods-info {
      flex-basis: 40%; 
      display: flex;
      margin: 0 16px;
      border-bottom: 1px solid $borderColor;
      img { 
        width: 80px; 
        height: 80%; 
        transform: translate3d(0, -10px, 0);
        border: 1px solid #eee;
      }
      .goods-info {
        padding-left: 30px;
        flex: 1;
        font-size: 14px;
        .goods-name { margin-top: 10px; line-height: 1.4; }
        .goods-pic { margin-top: 10px; color: $color; }
      }
    }
    .drawer-goods-count { 
      flex-basis: 40%;
      padding: 10px 0;
      margin: 0 16px;
      display: flex;
      justify-content: space-between;
      .buy-total {
        p {
          font-size: 12px;
          margin-bottom: 15px;
          span { color: $color; }
        }
        span { font-size: 14px; color: #999; }
      }
    }
    .drawer-buy-now {
      flex-basis: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background: #f44;
      letter-spacing: 2px;
    }
  }
  .mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
  }
  .goods-buy {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 13.5vw;
    display: flex;
    section { flex: 1 }
    .com-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: 14px;
    }
    .home { border-right: 1px solid $borderColor;  }
    .com-text {
      flex-basis: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    .add-cart { background: #ff976a; }
    .buy-now { background: #f44; }
  }
}